#main {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "fort crysta range"
    "mercedes cruiser pajero"
    "form form form"
    "footer footer footer";
  /* grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px; */
}

#navbar {
  text-align: center;
  width: 100%;
  grid-area: navbar;
  background-color: lightblue;
}

form{
    margin-left: 30px;
}

#form {
    border: solid blue 4px;
    display: flex;
    flex-direction: column;
    grid-area: form;
    background-color: #A8A4CE;
    border-radius: 10%;
    box-shadow: 5px 10px;
    justify-content: center;
    width: 100%;
}

#txtform{
  text-align: center;
  font-size: medium; 
}

#txtform input{
   background-color: antiquewhite;
   margin: 7px;
}

#fort {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 500px; */
  grid-area: fort;
  background-color: lightgreen;
}

#crysta {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  grid-area: crysta;
  background-color: lightcoral;
}
#range {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  grid-area: range;
  background-color: lightgray;
}
#mercedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  grid-area: mercedes;
  background-color: lightpink;
}
#cruiser {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  grid-area: cruiser;
  background-color: lightsalmon;
}
#pajero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  grid-area: pajero;
  background-color: lightgoldenrodyellow;
}
#footer {
  background-color: lightcyan;
  border: dotted green 3px;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fortimg {
  height: 200px;
  width: 200px;
}
#crystaimg {
  height: 200px;
  width: 200px;
}
#rangeimg {
  height: 200px;
  width: 200px;
}
#merceimg {
  height: 200px;
  width: 200px;
}
#cruiserimg {
  height: 200px;
  width: 200px;
}
#pazeroimg {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 700px) {
  #main {
      grid-template-areas:
          'navbar navbar'
          'fort crysta'
          'range mercedes'
          'cruiser pajero'
          'form form'
          'footer footer';
      grid-template-rows: 200px 580px 580px 580px 580px 200px;
  }

  #navbar{
    width: 100%;
    grid-area: navbar;
  }

  #fort{
    grid-area: fort;
    width: 100%
  }

  #crysta{
    width: 100%;
    grid-area: crysta;
  }

  #range{
    width: 100%;
    grid-area: range;
  }

  #mercedes{
    width: 100%;
    grid-area: mercedes;
  }

  #cruiser{
    width: 100%;
    grid-area: cruiser;
  }

  #pajero{
    width: 100%;
    grid-area: pajero;
  }

  #form{
    width: 100%;
    grid-area: form;
  }

  #footer{
    width: 100%;
    grid-area: footer;
  }


}


@media only screen and (max-width: 550px) {
  #main {
      grid-template-areas:
          'navbar navbar'
          'fort fort'
          'crysta crysta'
          'range range'
          'mercedes  mercedes'
          'cruiser cruiser'
          'pajero  pajero'
          'form form'
          'footer footer';
      grid-template-rows: 200px 580px 580px 580px 580px 200px;
  }

  #navbar{
    width: 100%;
    grid-area: navbar;
  }

  #fort{
    grid-area: fort;
    width: 100%
  }

  #crysta{
    width: 100%;
    grid-area: crysta;
  }

  #range{
    width: 100%;
    grid-area: range;
  }

  #mercedes{
    width: 100%;
    grid-area: mercedes;
  }

  #cruiser{
    width: 100%;
    grid-area: cruiser;
  }

  #pajero{
    width: 100%;
    grid-area: pajero;
  }

  #form{
    width: 100%;
    grid-area: form;
  }

  #footer{
    width: 100%;
    grid-area: footer;
  }

}

      /* "navbar navbar navbar"
      "fort crysta range"
      "mercedes cruiser pajero"
      "form form form"
      "footer footer footer"; */